@import "tailwindcss";

@theme {
  --color-main: #ff00ff;
  --color-secondary: #00ffff;
  --color-pixelyellow: #ffff00;
  --color-white-50: #d1e6ff;
  --font-main: var(--font-main), cursive;
  --font-body: var(--font-body);
  --font-headline: var(--font-headline);
}

@utility center-element {
  @apply flex items-center justify-center;
}

@utility page-container {
  @apply center-element relative min-h-screen w-full flex-col gap-5 overflow-hidden px-4 py-10;
}

@utility butger-line {
  @apply bg-secondary block h-0.5 w-7;
}

@utility text-title {
  @apply font-main text-center text-3xl text-white uppercase md:text-7xl;
  text-shadow: 4px 4px 0 var(--title-color, var(--color-main));
}

@utility mini-title {
  @apply text-secondary font-headline text-center text-2xl sm:text-3xl;
}

@utility nav-link {
  @apply cursor-pointer text-sm text-white;
  @apply transition-colors duration-300 ease-in-out;
  @apply hover:text-main;
}

@utility carousel-item {
  @apply flex items-center gap-2 text-sm text-gray-700;
}

@utility span-review {
  @apply font-headline pl-1 text-base font-extrabold sm:text-lg md:text-xl;
}

@utility model-wrapper {
  @apply flex flex-col gap-3 rounded-lg bg-slate-900 p-4 text-center text-white xl:rounded-xl;
}

@utility filter-text {
  @apply text-lg text-gray-500 uppercase;
}

@layer components {
  .filter-btn {
    @apply w-fit cursor-pointer border border-white px-2.5 tracking-wider text-white uppercase;
    @apply transition-colors duration-300 ease-in-out;
    @apply hover:bg-white hover:text-black;
  }
  .icon-container {
    @apply bg-main center-element relative h-12 w-10 text-3xl text-white;
    @apply after:bg-main after:absolute after:inset-0 after:h-full after:w-full after:content-[''];
    @apply after:-z-20 after:rotate-90;
  }
  .btn-hero {
    @apply font-headline mt-1 w-fit cursor-pointer border border-white px-4 py-2 text-white uppercase;
    @apply transition-colors duration-300 ease-in-out;
    @apply hover:bg-white hover:text-black;
  }
  .review-card {
    @apply font-body flex flex-col items-start justify-between gap-3 rounded-xl bg-slate-900/80 p-4 text-white;
    @apply min-h-56 flex-1 sm:min-h-80 sm:w-80 sm:flex-0 sm:justify-evenly sm:text-xl;
    @apply lg:h-64 lg:w-lg;
  }
  .contact-input {
    @apply focus:ring-main -mt-1.5 w-full rounded-sm bg-slate-800 px-3 py-1.5 text-white outline-none focus:ring-1;
    @apply transition-colors duration-300 ease-in-out;
  }
}

@layer base {
  body {
    @apply bg-black;
  }
}

.carousel-animation {
  animation: carousel-animation 25s linear infinite;
}

.reverse-carousel-animation {
  animation: carousel-animation 25s linear infinite;
  animation-direction: reverse;
}

@keyframes carousel-animation {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

.menu-shadow {
  box-shadow: 0 0 20px inset var(--color-main);
}
