@import "tailwindcss";

@theme {
  --color-main: #ff00ff;
  --color-secondary: #00ffff;
  --color-pixelyellow: #ffff00;
  --font-main: var(--font-main), cursive;
  --font-body: var(--font-vt323), monospace;
  --font-heavytext: var(--font-orbitron), sans-serif;
}

@layer components {
  .filter-btn {
    @apply w-fit cursor-pointer border border-white px-2.5 tracking-wider text-white uppercase;
    @apply transition-colors duration-300 ease-in-out;
    @apply hover:bg-white hover:text-black;
  }
}

@layer base {
  body {
    @apply bg-black;
  }
}
